[Unit]
Description=Randomly setting images inside /usr/share/wallpapers as background
Documentation=file:/usr/share/doc/swww/README.md
BindsTo=graphical-session.target

[Service]
ExecStart=%h/.local/bin/swww-randomize

[Install]
WantedBy=graphical-session.target
