@import 'css/colors';

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  background-color: $bg;
  background-position: center;
  background-size: cover;
  border: 1px solid $border;
  color: $fg;
  margin: 5px 5px 10px;
  padding: 5px;
  @include rounding;
}

* {
  all: unset;
  font-family: "FiraCode Nerd Font", Roboto, sans-serif;
  transition: 200ms ease;
}

@import 'css/calendar';
@import 'css/indicators';
@import 'css/music';
@import 'css/osd';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';
@import 'css/tray';

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.4rem;
  }

  .text {
    margin-top: .2rem;
  }
}

tooltip {
  background: $bg;
  border: 2px solid $border;
  border-radius: 8px;

  label {
    padding: 2px;
    font-size: 1.2rem;
  }
}

.module { margin: 0 5px; }

/* date & time */
.hour {
  font-weight: bold;
  margin-left: 5px;
}

.minute {
  margin-right: 15px;
}

.date {
  color: $flamingo;
  margin-right: 15px;

  label {
    font-size: 1.4rem;
  }
}

/* right-aligned modules */
.bright-icon { color: $yellow; }
.module-bt { font-size: 1.2rem; }

/* scales */
scale through {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

/* workspaces */
.focused {
  background-color: $bg;
  border-radius: .5rem;
  margin: .3rem;
  padding: .25rem;
}

.workspaces { margin-left: 15px; }


.ws {
  padding: .2rem;
  border-radius: 2rem;
  margin: .8rem .3rem;
}
